@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Overpass:wght@400;700&family=Poppins:wght@200;400;600&display=swap');
html {
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body{
    margin: 0;
    width: 100%;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h2{
    font-size: 5vh;
    margin: 0.5vh;
}
.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 30vh;
    width: 80vh;
    justify-content: center;
    text-align: center;
}
.title-one{
    font-weight: 200;
    color: hsl(234, 12%, 34%);
}
.title-two{
    font-weight: 600;
    color: hsl(234, 12%, 34%);
}
.text{
    font-weight: 400;
    color: hsl(229, 6%, 66%);
    font-size: 2vh;
}

.cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}
.card-supervisor{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4;
    border-top-color: hsl(180, 62%, 55%);
    border-top-width: 0.5vh;
    border-top-style: solid;
}
.card-team{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    border-top-color: hsl(0, 78%, 62%);
    border-top-width: 0.5vh;
    border-top-style: solid;
}
.card-calculator{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
    border-top-color: hsl(212, 86%, 64%);
    border-top-width: 0.5vh;
    border-top-style: solid;
}
.card-karma{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 5;
    border-top-color: hsl(34, 97%, 64%);
    border-top-width: 0.5vh;
    border-top-style: solid;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 3vh;
    margin: 2vh;
    width: 40vh;
    box-shadow: -1vh 3vh 7vh -3vh hsl(229, 6%, 66%);
}
.card h4{
    font-weight: 600;
    color: hsl(234, 12%, 34%);
    font-size: 2vh;
    margin-bottom: 0;
}
.card p{
    font-weight: 400;
    color: hsl(229, 6%, 66%);
    font-size: 1.5vh;
    margin-bottom: 4vh;
}
.card img{
    align-self: flex-end;
    width: 6vh;
}

.card-calculator{
    border-top-color: hsl(212, 86%, 64%);
    border-top-width: 0.5vh;
    border-top-style: solid;
}

