@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Overpass:wght@400;700&family=Poppins:wght@200;400;600&display=swap');
html {
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body{
    margin: 0;
    width: 100%;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h2{
    font-size: 5vh;
    margin: 0.5vh;
}
.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 30vh;
    width: 80vh;
    justify-content: center;
    text-align: center;
}
.title-one{
    font-weight: 200;
    color: hsl(234, 12%, 34%);
}
.title-two{
    font-weight: 600;
    color: hsl(234, 12%, 34%);
}
.text{
    font-weight: 400;
    color: hsl(229, 6%, 66%);
    font-size: 2vh;
}
